#root {
  max-width: 1280px;
  margin: 0 auto;
  text-align: center;
}

button {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #66666644;
  border: none;
  color: #ffffffbb;
  border-radius: 4px;
  box-shadow: 0 2px 4px #00000030, 0 4px 8px #00000020;
  flex-shrink: 0;
  height: 44px;
}
